
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{% url 'index' %}">MyMP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
        <a class="nav-link" href="/strategies/">Стратегии</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/pages/about/">О нас</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/pages/contact/">Контакты</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
        {% if user.is_authenticated %}
        <span class="nav-link active" >
          <a href="/accounts/logout/">Выйти</a>
          <a href="/accounts/profile/">{{ user.get_username }}</a>
        </span>
        {% else %}
        <span><a class="nav-link" href="/accounts/login/">Войти</a></span>
        {% endif %}
    </div>
  </div>
</nav>