{% extends "base.html" %}

{% block content %}

<h2>{{ user.username }}</h2>
<form method="post">
  <table>
  {% csrf_token %}
  {{ formset.management_form }}
  {{ user_form.as_table  }}
    {% for ft in formset %}
        {{ ft }}
    {% endfor %}
  </table>
  <button class="btn btn-primary" type="submit">Сохранить</button>
</form>

{% if messages %}
  {% for message in messages %}
    {% if message.tags == "success" %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock %}
