{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

<h2>{{ user.username }}</h2>
          {% thumbnail user.profile.avatar "32x32" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
  <table>
  {{ formset.management_form }}
  {{ user_form.as_table  }}
    {% for ft in formset %}
        {{ ft }}
    {% endfor %}
  </table>
  <button class="btn btn-primary" type="submit">Сохранить</button>
</form>
{% if messages %}
  {% for message in messages %}
    {% if message.tags == "success" %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}


{% if formset.non_form_errors  %}
  <div class="non-field-errors">
    {% for err in formset.non_form_errors  %}
      <p class="form-error">{{ err }}</p>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}
