aioredis==1.3.1
alabaster==0.7.12
amqp==5.0.6
APScheduler==3.7.0
asgiref==3.3.1
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
Babel==2.9.0
billiard==3.6.4.0
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
channels-redis==3.2.0
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.7
daphne==3.0.2
defusedxml==0.7.1
Django==3.1.7
django-allauth==0.44.0
django-apscheduler==0.5.2
django-celery-beat==2.2.0
django-celery-results==2.0.1
django-ckeditor==6.0.0
django-configurations==2.2
django-js-asset==1.2.2
django-phonenumber-field==5.0.0
django-redis==4.12.1
django-stubs==1.8.0
django-stubs-ext==0.2.0
django-timezone-field==4.1.2
docutils==0.16
factory-boy==3.2.0
Faker==8.1.1
flake8==3.9.1
hiredis==2.0.0
hyperlink==21.0.0
idna==2.10
imagesize==1.2.0
incremental==21.3.0
iniconfig==1.1.1
Jinja2==2.11.3
kombu==5.0.2
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.2
mypy==0.812
mypy-extensions==0.4.3
oauthlib==3.1.0
packaging==20.9
phonenumbers==8.12.21
Pillow==8.2.0
pluggy==0.13.1
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.8.1
PyJWT==1.7.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.3
pytest-django==4.2.0
python-crontab==2.5.1
python-dateutil==2.8.1
python-decouple==3.4
python3-openid==3.2.0
pytz==2021.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
service-identity==18.1.0
six==1.15.0
snowballstemmer==2.1.0
sorl-thumbnail==12.7.0
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
text-unidecode==1.3
toml==0.10.2
twilio==6.56.0
Twisted==21.2.0
txaio==21.2.1
typed-ast==1.4.3
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
zope.interface==5.4.0
