{% extends request.is_mobile|yesno:"base_mobile.html,base.html" %}
{% load my_filters %}

{% block title %}<title>Список стратегий</title>{% endblock %}

{% block content %}
    <h2>Стратегии</h2>
    <ul>
        {% for strategy in strategies %}
            <li><a href="{% url 'strategy-detail' strategy.id %}">{{ strategy.title }}</a> (Доходность: {{ strategy.annual_return }}%,
               Теги: {% for tag in strategy.tags %} <a href="{{ request.path }}?tag={{ tag }}">{{ tag }}</a> {% if not forloop.last %}, {% endif %}{% endfor %} )</li>
        {% endfor %}
    </ul>

    <a href="/strategies/add/">Добавить</a>

    {% if is_paginated %}
    <nav>
        <ul class="pagination justify-content-center">

            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link" href="?page=1" tabindex="-1">В начало</a>
            </li>
            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{{ tag_url }}{% endif %} " tabindex="-1">←</a>
            </li>

            {% if page_obj.number|add:'-4' > 1 %}
                <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}{{ tag_url }}">&hellip;</a></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active page-item disabled"><a class="page-link" href="?page={{ i }}{{ tag_url }}">{{ i }}</a></li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ tag_url }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}{{ tag_url }}">&hellip;</a></li>
            {% endif %}

            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}{{ tag_url }} {% endif %}">→</a>
            </li>
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.paginator.num_pages }}{{ tag_url }}  {% endif %}">В конец</a>
            </li>
        </ul>
    </nav>
    {% endif %}
{% endblock %}