{% extends "base.html" %}
{% load my_filters %}
{% load thumbnail %}

{% block content %}
    <h2>{{ strategy.title }}</h2>
    <p class="card-body">
        {% thumbnail strategy.pic_yield "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <p>{% get_verbose_field_name strategy "is_active" %}: {{strategy.is_active_text}}</p>
        <p>{% get_verbose_field_name strategy "date_create" %}: {{strategy.date_create}}</p>
        <p>{% get_verbose_field_name strategy "description" %}: {{strategy.description}}</p>
        <p>{% get_verbose_field_name strategy "annual_return" %}: {{strategy.annual_return}}</p>
        <p>{% get_verbose_field_name strategy "min_nav" %}: {{strategy.min_nav}}</p>
        <p>{% get_verbose_field_name strategy "id_author" %}: {{strategy.id_author}}</p>
        <p>{% get_verbose_field_name strategy "id_category" %}: {{strategy.id_category}}</p>
    </div>

    {% if user.is_authenticated and user_is_author%}
    <form action="edit/">
        <input class="btn btn-primary" type="submit" value="Редактировать">
    </form>
    {% endif %}
{% endblock %}