<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">

    <p>Привет, {{ user_name }}! </p>
    <p>За прошедшую неделю появились новые стратегии!</p>

    {% for strategy in strategies %}
        <p>{{ strategy.title }}</p>
        <p>{{ strategy.description }}</p>
        <a href="{% url 'strategies' %}{{ strategy.id }}">ссылка</a>
        <p>&nbsp;</p>
    {% endfor %}
</body>
</html>