<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
{% load account %}
{% load i18n %}

{% block content %}
{% autoescape off %}
<p>{% user_display user as user_display %}</p>

    <p>You're receiving this e-mail because user {{ user_display }} has given your e-mail address to register an account on {{ current_site.domain }}.</p>
    <p>To confirm this is correct, go to {{ activate_url }}</p>
{% endautoescape %}
{% endblock %}

</body>
</html>